body
{
  margin-top: 0;
}

code,
pre
{
  font-family: Monaco, Courier New;
}

em
{
  color: #000;
  font-style: normal;
  font-weight: bolder;
}

h
{
  color: #000;
  font-size: 1.5em;
  font-weight: inherit;
}

section section h
{
  font-size: 1.2em;
}

html
{
  color: #222;
  font-family: Georgia, Times New Roman, Times, serif;
  line-height: 1.5;
}

pre
{
  background: #222;

  border-radius: .2em;
  -moz-border-radius: .2em;
  -webkit-border-radius: .2em;

  color: #fff;
  font-size: .95em;
  padding: 1em;
}

pre .kwd
{
  color: #06f;
}

pre .lit
{
  color: #0ef;
}

pre .pln
{
  color: #fff;
}

pre .pun
{
  color: #fc6;
}

pre .str
{
  color: #9f0;
}

pre .typ
{
  color: #c4c;
}

.download
{
  padding: 2em 0;
}

.download :link,
.download :visited
{
  background: -moz-linear-gradient(#8c3, #491);
  background: -webkit-linear-gradient(#8c3, #491);

  border-radius: .2em;
  -moz-border-radius: .2em;
  -webkit-border-radius: .2em;

  box-shadow: 0 4px rgba(0, 0, 0, .1), inset 0 -4px rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 4px rgba(0, 0, 0, .1), inset 0 -4px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 4px rgba(0, 0, 0, .1), inset 0 -4px rgba(0, 0, 0, .1);

  color: #fff;
  font-size: 1.4em;
  padding: .4em 1.4em;
  text-decoration: none;
}

.download :active,
.download :hover
{
  box-shadow: 0 4px rgba(0, 0, 0, .1), inset 0 -4px rgba(0, 0, 0, .1), inset 0 0 1.5em rgba(255, 255, 255, .3);
  -moz-box-shadow: 0 4px rgba(0, 0, 0, .1), inset 0 -4px rgba(0, 0, 0, .1), inset 0 0 1.5em rgba(255, 255, 255, .3);
  -webkit-box-shadow: 0 4px rgba(0, 0, 0, .1), inset 0 -4px rgba(0, 0, 0, .1), inset 0 0 1.5em rgba(255, 255, 255, .3);

  transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
}

.download :before
{
  content: url(http://mozcom-cdn.mozilla.net/img/firefox/download-arrow.png);
  margin-right: .3em;
  vertical-align: central;
}

#header h
{
  display: inline;
  font-size: 4em;
  margin-left: 16px;
}

#header img
{
  margin-left: -64px;
}

#page
{
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 64px;
}
