body
{
  margin-top: 0;
}

code
{
  font: 15.2px Monaco, Courier New;
}

em
{
  color: #000;
  font-style: normal;
  font-weight: bolder;
}

h
{
  color: #000;
  font-size: 1.5em;
  font-weight: inherit;
}

html
{
  color: #222;
  font-family: Georgia, Times New Roman, Times, serif;
  line-height: 1.5;
}

p
{
  margin: 1.5em 0;
}

pre
{
  background: #222;

  border-radius: .2em;
  -moz-border-radius: .2em;
  -webkit-border-radius: .2em;

  color: #fff;
  padding: 1em;
}

pre .com
{
  color: #c4c;
}

pre .kwd
{
  color: #06f;
}

pre .lit
{
  color: #0ef;
}

pre .pln
{
  color: #fff;
}

pre .pun
{
  color: #fc6;
}

pre .str
{
  color: #9f0;
}

pre .typ
{
  color: #f40;
}

section
{
  background: -moz-linear-gradient(#eee, #fff);
  background: -webkit-linear-gradient(#eee, #fff);

  margin: 1.5em -1em;
  padding: 1.5em 1em;
}

section section
{
  background: transparent;

  margin: 0;
  padding: 0;
}

section section h
{
  font-size: 1.2em;
}

.active.tab,
.active.tab:hover
{
  background: #fff;
  background: -moz-linear-gradient(#ddd, #eee);
  background: -webkit-linear-gradient(#ddd, #eee);

  bottom: -1px;
  color: #000;
  font-size: 1.2em;
  padding-bottom: 0;

  /* Firefox ignores "0" */
  transition: 0s;
  -moz-transition: 0s;
  -webkit-transition: 0s;

  z-index: 1;
}

.download
{
  display: block;
  margin: 2.5em 0;
  text-decoration: none;
}

.download,
.download.tab,
.download.tab:hover
{
  color: #fff;
}

.download:after
{
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}

.download > *
{
  border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;

  display: block;
  float: left;
  font-size: 1.4em;
  margin: 0;
  padding: .2em 1.2em;
}

.download > *,
.download.tab
{
  background: #8c3;
  background: -moz-linear-gradient(#8c3, #491);
  background: -webkit-linear-gradient(#8c3, #491);
}

.download > :before
{
  content: url(http://mozcom-cdn.mozilla.net/img/firefox/download-arrow.png);
  margin-right: .3em;
  vertical-align: central;
}

.download.tab,
.tab + .download.tab
{
  border-color: #8c3;
  float: right;
  margin-right: 64px;
}

.download.tab > *
{
  padding: 0;
}

.pane
{
  border-top: thin solid #ccc;

  box-shadow: 0 -.2em .2em rgba(0, 0, 0, .1);
  -moz-box-shadow: 0 -.2em .2em rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 -.2em .2em rgba(0, 0, 0, .1);

  clear: both;
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
}

.tab
{
  background: #eee;
  background: -moz-linear-gradient(#fff, #eee);
  background: -webkit-linear-gradient(#fff, #eee);

  border: thin solid #ccc;
  border-bottom: 0;

  border-radius: .5em .5em 0 0;
  -moz-border-radius: .5em .5em 0 0;
  -webkit-border-radius: .5em .5em 0 0;

  /* (.2em + 1.2 * 1.5em)
   * - (1.2 * .2em + 1.2 * 1.2 * 1.5em) */
  bottom: -.4em;

  color: #222;
  display: block;
  float: left;
  margin: 0 .4em;
  margin-left: 64px;
  position: relative;
  padding: .2em 1.2em .15em;
  text-decoration: none;
}

.tab > *
{
  color: inherit;
  font-size: 1.2em;
}

.tab + .tab
{
  margin: 0 .4em;
}

.tab:hover
{
  /* (.2em + 1.2 * 1.5em + .15em)
   * - (1.2 * .2em + 1.2 * 1.2 * 1.5em) */
  bottom: -.25em;

  color: #000;

  transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
}

#header
{
  margin-bottom: 2.5em;
}

#header h
{
  display: inline;
  font-size: 4em;
  margin-left: .25em; /* 1em / 4 */
}

#header img
{
  margin-left: -64px;
}

#page
{
  width: 768px;
  margin: 0 auto;
  padding-left: 64px;
}
